<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create New Scooter</title>
</head>
<body>
<div align="center">
    <h1>Create New Scooter</h1>
    <br/>
    <!--
    Here is the form that will be used to save the new scooter.
    The form is tied to the Scooter object you added to the model,
    and on submit it will hit the /scooter/save endpoint using the POST method.
    -->
    <form action="#" th:action="@{/scooter/save}" th:object="${scooter}" method="post">
        <!--
        These input fields are used to collect the information
        required to complete the referenced Scooter object.
        -->
        <table border="0" cellpadding="10">
            <tr>
                <td>Year:</td>
                <td><input type="number" th:field="*{year}" required/></td>
            </tr>
            <tr>
                <td>Manufacturer:</td>
                <td><input type="text" th:field="*{manufacturer}" required/></td>
            </tr>
            <tr>
                <td>Model:</td>
                <td><input type="text" th:field="*{model}" required/></td>
            </tr>
            <tr>
                <td>Engine Size:</td>
                <td><input type="number" th:field="*{engineSize}" required></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>